.form_body {
  font-family: "Comfortaa", cursive;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.form {
  position: relative;
  height: 3rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-family: lato;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 1.25rem;
  background: none;
  /* Change border when input focus*/
}
.form__input:hover {
  border-color: #000000;
}
.form__input:focus {
  border-color: #000000;
}
.form__label {
  width: 180px;
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  margin-left: 7px;
  color: black;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: white;
}

/* 
  1. When the input is in the focus state
  reduce the size of the label and move upwards 
  
  2. Keep label state when content is in input field 
  */
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  width: 120px;
}

@media (max-width:400px) {
  .form__input {
    width: 250px;
  }
}
